 @model AmazonMVC.Models.Product

@{
    ViewData["Title"] = "AddProduct";
}


<h4> Add Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label">Unit Price</label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQnt" class="control-label">Quantity</label>
                <input asp-for="ProductQnt" class="form-control" />
                <span asp-validation-for="ProductQnt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label">Image</label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category Id </label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="ADD" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
