@model IEnumerable<AmazonMVC.Models.Product>

@{
    ViewData["Title"] = "GetAllProduct";
    ViewData["ShoppingSession"] = true;
    ViewData["MerchantView"] = false;
    ViewData["SearchResult"] = false;
}

<h4>shopping session</h4>
<partial name="_ProductPartial" Models="Product"  view-data="ViewData"></partial>

