@model IEnumerable<AmazonMVC.Models.Product>

@{
    ViewData["Title"] = "GetProductByMerchant";
    ViewData["MerchantView"] = true;
    ViewData["ShoppingSession"] = false;
    ViewData["SearchResult"] = false;
}

<h3>hello @ViewBag.MerchantEmail</h3>
@if (ViewBag.ErrorMessage != null)
{
    <div>@ViewBag.ErrorMessage</div>
}


 <partial name="_ProductPartial" Models="Product" view-data="ViewData"></partial >

