@model IEnumerable<AmazonMVC.Models.Product>

@{
    ViewData["Title"] = "GetProductByMerchant";
    ViewData["MerchantView"] = true;
    ViewData["ShoppingSession"] = false;
    ViewData["SearchResult"] = false;
}

<h4>Merchant View</h4>

<partial name="_ProductPartial" Models="Product" view-data="ViewData"></partial >