@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<body  class="p-3 mb-2 bg-white text-white">

<div class="container">
   
    
    <h2>
        <marquee style="color:brown" behavior="slide" direction="left"> Welcome to Amazon</marquee>
   
    </h2>
     <div class="carousel-item active">
         <img class="d-block w-100 h-25" src="~/css/g9.gif" alt="First slide">
     </div>
   
</div>

</body>

