@model IEnumerable<AmazonMVC.Models.Product>

@{
    ViewData["Title"] = "SearchResult";
    ViewData["ShoppingSession"] = false;
    ViewData["SearchResult"] = true;
    ViewData["MerchantView"] = false;
}

<h1>SearchResult</h1>

<partial name="_ProductPartial" Models="Product" view-data="ViewData"></partial >

