@model AmazonMVC.Models.Product


@{
    ViewData["Title"] = "SearchForm";
}
<body >
</style>
@using(Html.BeginForm("SearchResult", "Home", FormMethod.Get))
    //the following are search options  
{   
    <b> Search Option:</b>  
    @Html.RadioButton("option", "ProductName") <text>Product Name</text>
    @Html.RadioButton("option", "CategoryName") <text> Category </text>  
    @Html.TextBox("SearchPhrase","")
    <input type ="submit"  name = "submit" value ="Search"/>  
       
}


</body>

