@model AmazonMVC.Models.Merchant

@{
    ViewData["Title"] = "MerchantLogin";
    ViewData["merchantReg"] = true;
    ViewData["customerReg"] = false;
    Layout = "_loginLayout";
}



<h4>Merchant Login</h4>
<hr />
@if (ViewBag.ErrorMessage!=null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="MerchantLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="MerchantEmail" class="control-label">E-mail</label>
                <input asp-for="MerchantEmail" class="form-control" />
                <span asp-validation-for="MerchantEmail" class="text-danger"></span>
            </div>
         
          
            <div class="form-group">
                <label asp-for="MerchantPassword" class="control-label">Password</label>
                <input asp-for="MerchantPassword" class="form-control" />
                <span asp-validation-for="MerchantPassword" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
