@model AmazonMVC.Models.Cart

@{
    ViewData["Title"] = "AddToCart";
    Layout = "_pastLoginLayout";

}



<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ProductId"/>
            </div>
            <div class="form-group">
                <label asp-for="ProductQuantity" class="control-label">quantity</label>
                <input asp-for="ProductQuantity" class="form-control" />
                <span asp-validation-for="ProductQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CustomerId"/>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
