@model IEnumerable<AmazonMVC.Models.Cart>

@{
    ViewData["Title"] = "GetCartByCustomer";
}

<h1>GetCartByCustomer</h1>

<partial name="_ProductPartial" Models="Product"></partial>

<form asp-controller="Billing" asp-action="Buy">
    <div class="form-group">
         <input  type="submit" value="Buy" class="btn btn-primary" />
    </div>
</form>
